<section>
  <div class="container srp-container">
    <div class="row">
      <!-- HEADING -->
      <div class="col-lg-12 text-center mt-4">
        <h1 class="fw-bold">{{SRP_CONSTANTS.SINGLE_RESPONSIBILITY_PRINCIPLE_SRP_TITLE}}</h1>
      </div>
      <!-- HEADING -->

      <!-- DESCRIPTION -->
      <div class="col-lg-12">
        <p class="srp-description" [innerHTML]="SRP_CONSTANTS.SRP_DESCRIPTION"></p>
      </div>
      <!-- DESCRIPTION -->

      <!-- EXAMPLES -->
      <div class="col-lg-12">
        <mat-button-toggle-group>
          <mat-button-toggle
            [routerLink]="SRP_ROUTING_CONSTANTS.VIOLATION_OF_SRP">{{SRP_CONSTANTS.VIOLATION_OF_SRP}}</mat-button-toggle>
          <mat-button-toggle
            [routerLink]="SRP_ROUTING_CONSTANTS.FIXING_VIOLATION_OF_SRP">{{SRP_CONSTANTS.FIXING_THE_VIOLATION}}</mat-button-toggle>
        </mat-button-toggle-group>
        <router-outlet></router-outlet>
      </div>
      <!-- EXAMPLES -->

    </div>
  </div>
</section>