@import './variable.scss';

.isp-container{

    h1{
      font-family: $fontFamily;
    }

  .isp-description{
    color: $black;
    font-family: $fontFamily;
    font-size: $fontSize16;
    line-height: $lineHeight24;
    font-weight: $fontWeight400;
  }

    .image-heading {
    color: $black;
    font-family: $fontFamily;
    height: $heightAuto;
    background-color: $light-gray;
    font-weight: $fontWeight600;
    padding: $padding10;
    margin: $margin0;
    text-align: $textAlignCenter;
  }
}