<section class="fixing-ocp-violation">
  <div class="container">

    <div class="row">
      <!-- HEADING & DESCRIPTION-->
      <div class="col-lg-12">
        <h2 class="mt-2">{{OCP_CONSTANTS.FIXING_THE_VIOLATION}}</h2>
        <p class="ocp-violation-description">{{OCP_CONSTANTS.FIXING_OF_OCP_DESCRIPTION}}</p>
      </div>
      <!-- HEADING & DESCRIPTION -->
    </div>

    <div class="row">
      <div class="row  mt-4">
        <!-- VIOLATION HTML HEADING -->
        <div class="col-lg-12">
          <h2 class="image-heading">{{OCP_CONSTANTS.FIXING_OF_OCP_IMAGE_HEADING}}</h2>
        </div>
        <!-- VIOLATION HTML HEADING -->

        <!-- HTML IMAGE -->
        <div class="col-lg-12">
          <div class="text-center mt-4">
            <img class="" [src]="OCP_IMAGE_CONSTANTS.FIXING_OF_VIOLATION_OF_OCP_HTML_IMAGE"
              [alt]="OCP_CONSTANTS.VIOLATION_OF_OCP_IMAGE_HEADING">
          </div>
        </div>
        <!-- HTML IMAGE -->

      </div>
    </div>
  </div>
</section>